# customer Behavior analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("C:/Users/Simran/Downloads/jupyter_notebook/Customer Shopping Analysis/customer_shopping_behaviour.csv")

In [3]:
df.head(15)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,...,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,date,age_group,purchase_frequency_days
0,2093,42,Male,Sandals,Footwear,45,Minnesota,M,Silver,Fall,...,No,Next Day Air,No,No,27,Bank Transfer,Weekly,01-01-2025,Adult,7
1,1117,67,Male,Backpack,Accessories,96,Hawaii,M,Charcoal,Winter,...,No,Express,Yes,Yes,39,PayPal,Fortnightly,01-01-2025,Senior,14
2,953,36,Male,Hat,Accessories,71,Idaho,S,Red,Fall,...,Yes,2-Day Shipping,Yes,Yes,28,PayPal,Monthly,01-01-2025,Adult,30
3,1528,26,Male,Hat,Accessories,75,Wisconsin,L,Red,Fall,...,No,2-Day Shipping,Yes,Yes,33,Debit Card,Fortnightly,01-01-2025,Young Adult,14
4,2483,69,Male,Handbag,Accessories,87,Arizona,S,Peach,Winter,...,No,Next Day Air,No,No,46,Credit Card,Every 3 Months,01-01-2025,Senior,90
5,1143,69,Male,T-shirt,Clothing,76,Ohio,L,Green,Spring,...,No,Store Pickup,Yes,Yes,27,Venmo,Bi-Weekly,01-01-2025,Senior,14
6,2277,31,Male,Jeans,Clothing,82,Wyoming,L,Red,Summer,...,No,2-Day Shipping,No,No,25,Debit Card,Weekly,01-01-2025,Young Adult,7
7,798,42,Male,Coat,Outerwear,82,Maryland,M,Violet,Fall,...,Yes,2-Day Shipping,Yes,Yes,38,Debit Card,Weekly,02-01-2025,Adult,7
8,3804,48,Female,Handbag,Accessories,55,Connecticut,M,Violet,Spring,...,No,Standard,No,No,14,Debit Card,Weekly,02-01-2025,Middle-aged,7
9,3485,44,Female,Dress,Clothing,75,Illinois,L,Gray,Fall,...,No,Free Shipping,No,No,13,Credit Card,Bi-Weekly,02-01-2025,Adult,14
10,3612,63,Female,T-shirt,Clothing,82,Washington,M,Silver,Spring,...,No,Standard,No,No,30,Credit Card,Annually,02-01-2025,Senior,365
11,216,62,Male,Scarf,Accessories,64,New Jersey,S,Orange,Spring,...,Yes,2-Day Shipping,Yes,Yes,24,PayPal,Bi-Weekly,02-01-2025,Senior,14
12,2840,70,Female,Scarf,Accessories,80,South Dakota,L,Teal,Summer,...,No,Store Pickup,No,No,30,Bank Transfer,Monthly,02-01-2025,Senior,30
13,2951,22,Female,Jeans,Clothing,91,Iowa,S,Maroon,Winter,...,No,2-Day Shipping,No,No,44,Debit Card,Every 3 Months,02-01-2025,Young Adult,90
14,2728,40,Female,Shirt,Clothing,87,Colorado,L,Charcoal,Winter,...,No,2-Day Shipping,No,No,47,Credit Card,Fortnightly,02-01-2025,Adult,14

In [4]:
df.isnull().sum()

customer_id                0
age                        0
gender                     0
item_purchased             0
category                   0
purchase_amount            0
location                   0
size                       0
color                      0
season                     0
review_rating              0
subscription_status        0
shipping_type              0
discount_applied           0
promo_code_used            0
previous_purchases         0
payment_method             0
frequency_of_purchases     0
date                       0
age_group                  0
purchase_frequency_days    0
dtype: int64

In [5]:
df.shape

(3900, 21)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              3900 non-null   int64
 1   age                      3900 non-null   int64
 2   gender                   3900 non-null   object
 3   item_purchased           3900 non-null   object
 4   category                 3900 non-null   object
 5   purchase_amount          3900 non-null   int64
 6   location                 3900 non-null   object
 7   size                     3900 non-null   object
 8   color                    3900 non-null   object
 9   season                   3900 non-null   object
 10  review_rating            3900 non-null   float64
 11  subscription_status      3900 non-null   object
 12  shipping_type            3900 non-null   object
 13  discount_applied         3900 non-null   object
 14  promo_code_used          3900 non-null   object
 15  previous_purchases       3900 non-null   int64
 16  payment_method           3900 non-null   object
 17  frequency_of_purchases   3900 non-null   object
 18  date                     3900 non-null   object
 19  age_group                3900 non-null   object
 20  purchase_frequency_days  3900 non-null   int64
dtypes: float64(1), int64(5), object(15)
memory usage: 640.0+ KB

In [7]:
df.dtypes

customer_id                  int64
age                          int64
gender                      object
item_purchased              object
category                    object
purchase_amount              int64
location                    object
size                        object
color                       object
season                      object
review_rating              float64
subscription_status         object
shipping_type               object
discount_applied            object
promo_code_used             object
previous_purchases           int64
payment_method              object
frequency_of_purchases      object
date                        object
age_group                   object
purchase_frequency_days      int64
dtype: object

In [8]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases', 'date', 'age_group',
       'purchase_frequency_days'],
      dtype='object')

## Data Cleaning & Transforming

In [9]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns= {'purchase_amount_(usd)':'purchase_amount'})

In [10]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases', 'date', 'age_group',
       'purchase_frequency_days'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              3900 non-null   int64
 1   age                      3900 non-null   int64
 2   gender                   3900 non-null   object
 3   item_purchased           3900 non-null   object
 4   category                 3900 non-null   object
 5   purchase_amount          3900 non-null   int64
 6   location                 3900 non-null   object
 7   size                     3900 non-null   object
 8   color                    3900 non-null   object
 9   season                   3900 non-null   object
 10  review_rating            3900 non-null   float64
 11  subscription_status      3900 non-null   object
 12  shipping_type            3900 non-null   object
 13  discount_applied         3900 non-null   object
 14  promo_code_used          3900 non-null   object
 15  previous_purchases       3900 non-null   int64
 16  payment_method           3900 non-null   object
 17  frequency_of_purchases   3900 non-null   object
 18  date                     3900 non-null   object
 19  age_group                3900 non-null   object
 20  purchase_frequency_days  3900 non-null   int64
dtypes: float64(1), int64(5), object(15)
memory usage: 640.0+ KB

In [12]:
# Step 1: Calculate average rating per product category
category_avg_rating = (
    df.groupby("item_purchased")["review_rating"]
    .mean()
)

# Step 2: Fill null review ratings using category average
df["review_rating"] = df["review_rating"].fillna(
    df['item_purchased'].map(category_avg_rating)
)

# Step 3: Fill any remaining nulls with overall average rating
overall_avg_rating = df["review_rating"].mean()

df["review_rating"] = df["review_rating"].fillna(overall_avg_rating)

# Check
print(df["review_rating"].isnull().sum())

0

In [13]:
df.isnull().sum()

customer_id                0
age                        0
gender                     0
item_purchased             0
category                   0
purchase_amount            0
location                   0
size                       0
color                      0
season                     0
review_rating              0
subscription_status        0
shipping_type              0
discount_applied           0
promo_code_used            0
previous_purchases         0
payment_method             0
frequency_of_purchases     0
date                       0
age_group                  0
purchase_frequency_days    0
dtype: int64

In [14]:
df.head(15)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,...,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,date,age_group,purchase_frequency_days
0,2093,42,Male,Sandals,Footwear,45,Minnesota,M,Silver,Fall,...,No,Next Day Air,No,No,27,Bank Transfer,Weekly,01-01-2025,Adult,7
1,1117,67,Male,Backpack,Accessories,96,Hawaii,M,Charcoal,Winter,...,No,Express,Yes,Yes,39,PayPal,Fortnightly,01-01-2025,Senior,14
2,953,36,Male,Hat,Accessories,71,Idaho,S,Red,Fall,...,Yes,2-Day Shipping,Yes,Yes,28,PayPal,Monthly,01-01-2025,Adult,30
3,1528,26,Male,Hat,Accessories,75,Wisconsin,L,Red,Fall,...,No,2-Day Shipping,Yes,Yes,33,Debit Card,Fortnightly,01-01-2025,Young Adult,14
4,2483,69,Male,Handbag,Accessories,87,Arizona,S,Peach,Winter,...,No,Next Day Air,No,No,46,Credit Card,Every 3 Months,01-01-2025,Senior,90
5,1143,69,Male,T-shirt,Clothing,76,Ohio,L,Green,Spring,...,No,Store Pickup,Yes,Yes,27,Venmo,Bi-Weekly,01-01-2025,Senior,14
6,2277,31,Male,Jeans,Clothing,82,Wyoming,L,Red,Summer,...,No,2-Day Shipping,No,No,25,Debit Card,Weekly,01-01-2025,Young Adult,7
7,798,42,Male,Coat,Outerwear,82,Maryland,M,Violet,Fall,...,Yes,2-Day Shipping,Yes,Yes,38,Debit Card,Weekly,02-01-2025,Adult,7
8,3804,48,Female,Handbag,Accessories,55,Connecticut,M,Violet,Spring,...,No,Standard,No,No,14,Debit Card,Weekly,02-01-2025,Middle-aged,7
9,3485,44,Female,Dress,Clothing,75,Illinois,L,Gray,Fall,...,No,Free Shipping,No,No,13,Credit Card,Bi-Weekly,02-01-2025,Adult,14
10,3612,63,Female,T-shirt,Clothing,82,Washington,M,Silver,Spring,...,No,Standard,No,No,30,Credit Card,Annually,02-01-2025,Senior,365
11,216,62,Male,Scarf,Accessories,64,New Jersey,S,Orange,Spring,...,Yes,2-Day Shipping,Yes,Yes,24,PayPal,Bi-Weekly,02-01-2025,Senior,14
12,2840,70,Female,Scarf,Accessories,80,South Dakota,L,Teal,Summer,...,No,Store Pickup,No,No,30,Bank Transfer,Monthly,02-01-2025,Senior,30
13,2951,22,Female,Jeans,Clothing,91,Iowa,S,Maroon,Winter,...,No,2-Day Shipping,No,No,44,Debit Card,Every 3 Months,02-01-2025,Young Adult,90
14,2728,40,Female,Shirt,Clothing,87,Colorado,L,Charcoal,Winter,...,No,2-Day Shipping,No,No,47,Credit Card,Fortnightly,02-01-2025,Adult,14

In [15]:
df.describe()

,customer_id,age,purchase_amount,review_rating,previous_purchases,purchase_frequency_days
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750089,25.351538,89.133077
std,1125.977353,15.207589,23.685392,0.713590,14.447125,119.037566
min,1.000000,18.000000,20.000000,2.500000,1.000000,7.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000,14.000000
50%,1950.500000,44.000000,60.000000,3.760870,25.000000,30.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000,90.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000,365.000000

In [16]:
# age_group column
labels = ["Young Adult", "Adult", "Middle-aged", "Senior"]
df["age_group"] = pd.qcut(df["age"], q=4, labels=labels)

In [17]:
df[["age", "age_group"]].head(5)

   age    age_group
0   42        Adult
1   67       Senior
2   36        Adult
3   26  Young Adult
4   69       Senior

In [18]:
# Create a mapping dictionary for purchase frequency to days
frequency_mapping = {
    "Daily": 1,
    "Weekly": 7,
    "Fortnightly": 14,
    "Monthly": 30,
    "Quarterly": 90,
    "Bi-Weekly": 14,
    "Annually": 365,
    "Every 3 Months" : 90
}

# Create a new column using the mapping
df["purchase_frequency_days"] = df["frequency_of_purchases"].map(frequency_mapping)

In [19]:
df[["frequency_of_purchases", "purchase_frequency_days"]].head(5)

  frequency_of_purchases  purchase_frequency_days
0                 Weekly                        7
1            Fortnightly                       14
2                Monthly                       30
3            Fortnightly                       14
4         Every 3 Months                       90

In [20]:
df.head(10)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,...,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,date,age_group,purchase_frequency_days
0,2093,42,Male,Sandals,Footwear,45,Minnesota,M,Silver,Fall,...,No,Next Day Air,No,No,27,Bank Transfer,Weekly,01-01-2025,Adult,7
1,1117,67,Male,Backpack,Accessories,96,Hawaii,M,Charcoal,Winter,...,No,Express,Yes,Yes,39,PayPal,Fortnightly,01-01-2025,Senior,14
2,953,36,Male,Hat,Accessories,71,Idaho,S,Red,Fall,...,Yes,2-Day Shipping,Yes,Yes,28,PayPal,Monthly,01-01-2025,Adult,30
3,1528,26,Male,Hat,Accessories,75,Wisconsin,L,Red,Fall,...,No,2-Day Shipping,Yes,Yes,33,Debit Card,Fortnightly,01-01-2025,Young Adult,14
4,2483,69,Male,Handbag,Accessories,87,Arizona,S,Peach,Winter,...,No,Next Day Air,No,No,46,Credit Card,Every 3 Months,01-01-2025,Senior,90
5,1143,69,Male,T-shirt,Clothing,76,Ohio,L,Green,Spring,...,No,Store Pickup,Yes,Yes,27,Venmo,Bi-Weekly,01-01-2025,Senior,14
6,2277,31,Male,Jeans,Clothing,82,Wyoming,L,Red,Summer,...,No,2-Day Shipping,No,No,25,Debit Card,Weekly,01-01-2025,Young Adult,7
7,798,42,Male,Coat,Outerwear,82,Maryland,M,Violet,Fall,...,Yes,2-Day Shipping,Yes,Yes,38,Debit Card,Weekly,02-01-2025,Adult,7
8,3804,48,Female,Handbag,Accessories,55,Connecticut,M,Violet,Spring,...,No,Standard,No,No,14,Debit Card,Weekly,02-01-2025,Middle-aged,7
9,3485,44,Female,Dress,Clothing,75,Illinois,L,Gray,Fall,...,No,Free Shipping,No,No,13,Credit Card,Bi-Weekly,02-01-2025,Adult,14

In [21]:
df.to_csv("C:/Users/Simran/Downloads/jupyter_notebook/Customer Shopping Analysis/customer_shopping_behaviour.csv",index= False)